<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="SecureConnection" 
         connectionString="Data Source=SECURE_SERVER;Initial Catalog=SecureFleetDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Command Timeout=60;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Security settings -->
    <add key="EnableSecurityHeaders" value="true" />
    <add key="SessionTimeoutMinutes" value="480" />
    <add key="MaxLoginAttempts" value="5" />
    <add key="LockoutDurationMinutes" value="15" />
    <add key="PasswordMinLength" value="8" />
    <add key="RequirePasswordComplexity" value="true" />
    <add key="EnableAuditLogging" value="true" />
    <add key="EnableDataEncryption" value="true" />
    
    <!-- Rate limiting -->
    <add key="RateLimitRequests" value="100" />
    <add key="RateLimitWindowMinutes" value="15" />
    
    <!-- File upload security -->
    <add key="MaxFileUploadSize" value="5242880" /> <!-- 5MB -->
    <add key="AllowedFileExtensions" value=".pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg,.png" />
    
    <!-- API security -->
    <add key="EnableCSRFProtection" value="true" />
    <add key="EnableCORS" value="false" />
    <add key="AllowedOrigins" value="https://yourdomain.com" />
  </appSettings>
  
  <system.web>
    <!-- Compilation settings -->
    <compilation targetFramework="4.8" debug="false" tempDirectory="~/App_Data/Temp/" />
    
    <!-- Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" 
             timeout="480" 
             requireSSL="true" 
             slidingExpiration="true" 
             cookieless="false" 
             enableCrossAppRedirects="false" 
             protection="All" 
             name="__AUTH" />
    </authentication>
    
    <!-- Authorization -->
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- Session state -->
    <sessionState mode="InProc" 
                  timeout="480" 
                  cookieless="false" 
                  regenerateExpiredSessionId="true" 
                  cookieName="ASP.NET_SessionId" 
                  cookieTimeout="480" 
                  httpOnlyCookies="true" 
                  cookieSameSite="Strict" 
                  cookieSecure="SslOnly" />
    
    <!-- HTTP runtime -->
    <httpRuntime targetFramework="4.8" 
                 maxRequestLength="5120" 
                 executionTimeout="300" 
                 enableVersionHeader="false" 
                 enableHeaderChecking="true" 
                 requestValidationMode="4.5" 
                 requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,:,\,?" />
    
    <!-- Pages -->
    <pages validateRequest="true" 
           enableViewState="false" 
           enableViewStateMac="true" 
           viewStateEncryptionMode="Always" 
           controlRenderingCompatibilityVersion="4.0" 
           clientIDMode="Predictable" />
    
    <!-- Custom errors -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="~/Error.aspx?code=400" />
      <error statusCode="401" redirect="~/Login.aspx" />
      <error statusCode="403" redirect="~/Error.aspx?code=403" />
      <error statusCode="404" redirect="~/Error.aspx?code=404" />
      <error statusCode="500" redirect="~/Error.aspx?code=500" />
    </customErrors>
    
    <!-- Trace -->
    <trace enabled="false" pageOutput="false" requestLimit="40" localOnly="true" />
    
    <!-- Machine key for encryption -->
    <machineKey validationKey="[128-hex-character-key]" 
                decryptionKey="[48-hex-character-key]" 
                validation="HMACSHA256" 
                decryption="AES" />
    
    <!-- HTTP modules -->
    <httpModules>
      <add name="SecurityModule" type="YTLWebApplication.Security.SecurityModule" />
    </httpModules>
    
    <!-- HTTP handlers -->
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="POST" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" validate="false" />
    </httpHandlers>
    
    <!-- Globalization -->
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" />
    
    <!-- Trust level -->
    <trust level="Full" />
  </system.web>
  
  <system.webServer>
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    
    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self'; frame-ancestors 'none';" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>
    
    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <!-- HTTPS redirect -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
        
        <!-- Remove server header -->
        <outboundRules>
          <rule name="Remove Server Header">
            <match serverVariable="RESPONSE_Server" pattern=".+" />
            <action type="Rewrite" value="" />
          </rule>
        </outboundRules>
      </rules>
    </rewrite>
    
    <!-- Request filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="5242880" maxUrl="4096" maxQueryString="2048" />
        <fileExtensions>
          <clear />
          <add fileExtension=".aspx" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".jpeg" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".ico" allowed="true" />
          <add fileExtension=".pdf" allowed="true" />
          <add fileExtension=".doc" allowed="true" />
          <add fileExtension=".docx" allowed="true" />
          <add fileExtension=".xls" allowed="true" />
          <add fileExtension=".xlsx" allowed="true" />
        </fileExtensions>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="App_Code" />
          <add segment="App_Data" />
          <add segment="App_GlobalResources" />
          <add segment="App_LocalResources" />
          <add segment="App_WebReferences" />
          <add segment="App_Browsers" />
        </hiddenSegments>
        <denyUrlSequences>
          <add sequence=".." />
          <add sequence=":" />
          <add sequence="%" />
          <add sequence="&" />
          <add sequence="?" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    
    <!-- Modules -->
    <modules>
      <add name="SecurityModule" type="YTLWebApplication.Security.SecurityModule" />
    </modules>
    
    <!-- Handlers -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- Static content -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    
    <!-- Compression -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Error pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="400" path="/Error.aspx?code=400" responseMode="ExecuteURL" />
      <error statusCode="401" path="/Login.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" path="/Error.aspx?code=403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Error.aspx?code=404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error.aspx?code=500" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  
  <!-- Location-specific settings -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>